/* src/styles/ExperienceCard.css */
.experience-card {
  padding: var(--card-padding);
  margin: var(--card-margin);

}

.experience-card:hover {
  transform: translateY(-10px); /* Moves up on hover */
  background-color: var(--background-hover); /* Initial dark background */
  border-radius: 10px;
  box-shadow: var(--shadow-box); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.experience-header p {
  font-size: 0.9rem;
  color: var(--text-muted); /* Muted text color */
  margin: 0 0 10px 0;
}

.experience-header h3 {
  font-size: 1.2rem;
  margin: 0;
}

.experience-header h3 span {
  color: var(--primary); /* Highlight for the company */
}

.experience-header h3 a {
  cursor: pointer;
  color: var(--primary); /* Link color */
  text-decoration: none;
  font-size: 1rem;
  margin-left: 5px;
}

.experience-header h3 a:hover {
  color: var(--cards-text-hover) /* Slightly transparent hover color */
}

.experience-body p {
  cursor: pointer;
  margin: 10px 0;
  color: var(--text-muted);
  line-height: 1.5;
}

.experience-tags {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.experience-tags li {
  background: var(--cards-text-background); /* Subtle background for tags */
  color: var(--primary);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  transition: background 0.3s ease;
}

.experience-tags li:hover {
  background: var(--cards-text-background-hover); /* Brighter on hover */
}

.experience-details {
  margin-top: 15px;
  padding-top: 10px;
  border-top: var(--cards-border);
  color: var(--text-muted);
  line-height: 1.5;
  transition: max-height 0.3s ease;
}

.experience-details ul {
  padding-left: 20px;
}

.experience-details li {
  margin-bottom: 10px;
}

@media (max-width: 850px) {
  .experience-card {
    padding: var(--spacing-medium);
    margin: var(--card-margin);
    transform: translateY(-10px); /* Moves up on hover */
    background-color: var(--background-hover); /* Initial dark background */
    border-radius: 10px;
    box-shadow: var(--shadow-box); /* Subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  
  }
}
