/* src/styles/Sidebar.css */
.sidebar {
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    padding: var(--spacing-large);
    position: sticky;
    top: 0;
    width: 850px;
}

.sidebar h1{
  font-size: 40px;
  margin-bottom: var(--spacing-small);
}

.nav-links ul li {
  position: relative;
}

.nav-links ul li a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links ul li a .nav-indicator {
  display: inline-block;
  margin-right: 16px;
  height: 2px;
  width: 32px;
  background-color: var(--text-muted);
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-links ul li a .nav-text {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--nav-text-color);
}

/* Suggestion: In your JSX/HTML, add utility classes like 'flex', 'flex-col', 'p-large' to .sidebar, and 'list-none', 'p-0' to ul for reusability. */

.nav-links ul li a:hover .nav-indicator,
.nav-links ul li a:focus-visible .nav-indicator {
  width: 64px; /* Expanded width */
  background-color: var(--nav-text-color-hover); /* Light slate color */
}

.nav-links ul li a:hover .nav-text,
.nav-links ul li a:focus-visible .nav-text {
  color: var(--nav-text-color-hover); /* Light slate color */
}

.nav-links ul li a.active .nav-indicator {
  width: 64px; /* Expanded line for the active section */
  background-color: var(--primary); /* Highlighted color */
}

.nav-links ul li a.active .nav-text {
  color: var(--primary); /* Highlighted text color */
}

.social-icons a {
  color: var(--text-muted);
  font-size: 1.8rem;
  margin-right: 15px;
}

.social-icons a:hover {
  color: var(--primary);
}

.social-icon-theme {
  color: #14b28d80;
  font-size: 2rem;
  margin-right: 0;
  transition: color 0.3s, opacity 0.3s;
  /* text-shadow: var(--social-icon-shadow); Use theme variable for shadow */
  animation: blink-social-icon 2.1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.social-icon-theme:hover {
  color: #14b28df5;

}

@keyframes blink-social-icon {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

@media (max-width: 850px) {
  .sidebar {
    width: fit-content; /* Use full width for smaller screens */
    height: auto;
    position: relative; /* No sticky positioning */
    padding: var(--spacing-medium); /* Reduce padding */
  }

  .nav-links{
    display: none;
  }

  .sidebar h1{
    font-size: 35px;
    margin-bottom: var(--spacing-small);
  }
  .social-icons {
    justify-content: center; /* Center social icons */
    margin-top: var(--spacing-medium);
  }
}

@media (max-height: 500px) {
  .nav-links{
    display: none;
  }
  .sidebar h1{
    font-size: 30px;
    margin-bottom: var(--spacing-small);
  }
}
